<?xml version="1.0"?>
<!--
/**
 * Magento
 * @category   Payment
 * @package    Zarinpal_WebGate
 * @copyright  Copyright (c) 2013 Shayan Davarzani (shayandavarzani@gmail.com)
 * @see https://github.com/shayand
 */
-->
<config>
    <modules>
        <Zarinpal_WebGate>
            <version>1.0.0</version>
        </Zarinpal_WebGate>
    </modules>

    <global>
        <models>
            <WebGate>
                <class>Zarinpal_WebGate_Model</class>
            </WebGate>
        </models>
        <helpers>
            <WebGate>
                <class>Zarinpal_WebGate_Helper</class>
            </WebGate>
        </helpers>
        <resources>
            <WebGate_setup>
                <setup>
                    <module>Zarinpal_WebGate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </WebGate_setup>
            <WebGate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </WebGate_write>
            <WebGate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </WebGate_read>
        </resources>
        <blocks>
            <WebGate><class>Zarinpal_WebGate_Block</class></WebGate>
        </blocks>
    </global>

    <frontend>
        <routers>
            <WebGate>
                <use>standard</use>
                <args>
                    <module>Zarinpal_WebGate</module>
                    <frontName>WebGate</frontName>
                </args>
            </WebGate>
        </routers>
        <translate>
            <modules>
                <Zarinpal_WebGate>
                    <files>
                        <default>Zarinpal_WebGate.csv</default>
                    </files>
                </Zarinpal_WebGate>
            </modules>
        </translate>
        <layout>
            <updates>
                <WebGate>
                    <file>WebGate.xml</file>
                </WebGate>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Zarinpal_WebGate>
                    <files>
                        <default>Zarinpal_WebGate.csv</default>
                    </files>
                </Zarinpal_WebGate>
            </modules>
        </translate>
    </adminhtml>
	<phoenix>
		<WebGate>
			<verify_url>https://ir.zarinpal.com</verify_url>
		</WebGate>
	</phoenix>
    <default>
        <payment>        
            <WebGate>
                <active>0</active>
                <model>WebGate/WebGate</model>
                <order_status>1</order_status>
                <title>زرین پال</title>
                <allowspecific>0</allowspecific>
                <use_store_currency>0</use_store_currency>
            </WebGate>
        </payment>
    </default> 
</config>
